.bookcontainer {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bookbox {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bookbox img {
    width: 45%;
    pointer-events: none;
    border-radius: 10px;
}

.intros {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    /* padding: 20px; */
}

.edits {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* padding: 20px; */
}

.intros h1,
.edits h1 {
    font-size: 2rem;
    font-weight: bold;
}

.intro p,
.intro input,
.edits p,
.edits input {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.intro p:nth-child(3) {
    color: #aaa;
}

.intro input:nth-child(1) {
    margin: 0;
}

.intro input,
.intros > p > textarea,
.edit input,
.edits > p > textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

p.textarea {
    margin-bottom: 0;
}

.intro input:focus,
.intros > p > textarea:focus .edit input:focus,
.edits > p > textarea:focus {
    outline: none;
    border-color: #aaa;
}

.bookname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
}

button {
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px;
    background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.modify button {
    padding: 7px 12px;
    margin-left: 5px;
    background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.modify button:hover {
    transform: scale(1.03);
}

.commentbox {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textarea {
    flex-grow: 1;
}

textarea {
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    resize: none;
    height: 100%;
}

.comment {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.commentbox textarea:focus {
    outline-color: #aaa;
}

.image-upload {
    width: 45%;
    border: 2px dashed #bbb;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.image-upload span {
    color: #aaa;
}

.image-upload input[type='file'] {
    display: none;
}

.image-upload-placeholder {
    text-align: center;
}
