.bookcontainer {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bookbox {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.bookbox img {
    width: 50%;
}

.intros {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.intros h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro {
    margin-bottom: 40px;
}

.intro p {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.intro p:nth-child(3) {
    color: gray;
}

.intros p {
    font-size: 1.25rem;
    margin-bottom: 0px;
    overflow: auto;
}

.commentbox {
    width: 70vw;
}

.commentbox button {
    border: 1px solid #ffd0b7;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    font-size: 15px;
    padding: 10px;
    background-color: #ffede1;
    cursor: pointer;
}

.commentbox button:hover {
    background-color: #ffe7d6;
}

.commentbox textarea {
    width: 100%;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: 1px solid #ffd0b7;
    padding: 10px;
    background-color: #ffede1;
    resize: none;
}

.comment {
    border: 1px solid #ffd0b7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
