.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    height: 88vh;
    overflow: scroll;
}

.books {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* background-color: #ffede1; */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ffd0b7;
}

.books h3 {
    font-size: 1.25rem;
}

.books img {
    width: 60%;
}
