.introbox {
    width: 70vw;
}

.introbox h1 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.introbox h3 {
    margin-bottom: 10px;
}

.introbox p {
    font-size: 1.1rem;
}
