.createcontainer {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.createbox {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
